body {
  margin: white;
  border:double
}

canvas {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqXPbhQueA0qMI2R03N9wyokY9ojq7Bk4DvQ&usqp=CAU");
}

img {
  display: none;
}
