body {
  margin: 0px;
}

canvas {
  background: url("https://img.uswitch.com/n36b8lzdmgnp/3USwVpCL1QEeRVbQF66cpD/b1987ecc7581c405d6afa4e84c710954/shutterstock_1293541177.jpg?");
}

img {
  display: none;
}
