body {
  margin: white;
  border:double
}

canvas {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpRyYbvGOymn0l2PNdZ5wN7X-n_C02jt9QYXYdlEz0sa-YmDvLacD3TVsfFNHqalpCZaw&usqp=CAU);
}

img {
  display: none;
}
